<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.aluui.ca">
            Aluui Web Solutions
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{ data | date: "yyyy" }}, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded
      by <a href="https://www.aluui.ca" target="_blank">Aluui Web Solutions</a>.
    </div>
  </div>
</footer>
